$theme-colors: (
	"primary": #007de1,
	"secondary": #6d7780,
	//"danger": #d81b44,
	"danger": #d31928,
	"success": #2a9e6c,
	"info": #00BCD4,
	"warning": #FAC014,
);

//Navigation
$nav-link-padding-y: .25rem;
$dropdown-item-padding-x: 0.75rem;
$dropdown-item-padding-y: 0.5rem;
$dropdown-border-radius: 3px;
$dropdown-font-size: 14px;

//Forms
$label-margin-bottom: 0.125rem;
$form-group-margin-bottom: 0.75rem;

/* Bootstrap */
@import 'vendor/bootstrap.scss';


#siteWrapper {
	min-height: 100vh;
}

.avatar {
	width: 36px;
	height: auto;
}

.nav-item {
	.avatar {
		width: 32px;
	}
}

.card.shadow-sm {
	overflow: hidden;
}

#infoMessage {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
